.about-me {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    color: rgb(211, 208, 208);
}

.about-me::after {
    content: "";
    position: relative;
    display: flex;
    margin-left: 1rem;
    width: 14rem;
    border-top: 1px solid rgb(83, 83, 83);
}

section {
    margin-top: 1rem;
    color: rgb(146, 144, 144);
    line-height: 2rem;
}