* {
    font-family: 'Montserrat';
    background-color: #18181a;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

::after {
    box-sizing: inherit;
}

h2, span, section, p {
    background-color: transparent;
}

h2 {
    font-size: 2rem;
}